
.btnMenu{
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

    
@media (max-width: 950px) {
    .btnMenu_open {
    display: block;
    background-image: url(../img/hamburguer-menu.svg);
   
}

    .btnMenu_close{
    width: 100%;
    background-color: #FFB30E;
    background-image: url(../img/hamburguer-menu.svg);
}
}