@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&family=Space+Mono&display=swap');

body{
  overflow-x: hidden;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  max-height: 40px;
  height: 100%;

  margin-right: 15px;
}

.header__logo h1 {
font-weight:bold;
  font-size: 1.5rem;
  color: #FFB30E;
}

.header__logo h1 span {
  color: #F12828;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
 text-transform:uppercase;

  height: 80px;
  color: #FFB30E;
  text-decoration: none;

  transition: all 0.2s;
  padding: 0 0.75rem;
}

.header__nav--hamburguer-menu {
  display: none; 
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.header__nav--hover:hover {
  background: #FFB30E;
  color: #FFFFFF;
}

.header__nav--input-search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__nav--input-search input:focus {
  outline: none;
}


@media (max-width: 950px) {
  .header__nav{
    position: absolute;
    padding-top: 20px;
    top: 8vh;
    right: 0;
    width: 50vw;
    height:60vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
  }



  .header__nav--hover:hover {
    background: #FFB30E;
    color: #FFFFFF;
    width: 100%;
  }

  .header__nav li{
    display: block;
    margin-left: 0 ;
  }
  .header__nav.active{
    transform: translateX(0);
  }

  .header__nav--hamburguer-menu {
    display: block;
  } 
}